                    $primary: #2A768C;
                    $primaryNav: #56bdda;
                    $secondaryNav: #7cd7f0;
                    $secondary:#1c2324;
                    *:before,
                    *:after {
                        box-sizing: border-box;
                    }
                    
                    body,
                    h1,
                    h2,
                    h3,
                    h4,
                    p,
                    ul,
                    ol,
                    li,
                    figure,
                    figcaption,
                    blockquote,
                    dl,
                    dd {
                        margin: 0;
                        padding: 0;
                    }
                    
                    html {
                        min-height: 100%;
                        overflow-x: hidden;
                        height: 100vh;
                        font-family: 'Roboto', sans-serif;
                        max-width: 100% !important;
                        margin: 0;
                        padding: 0;
                    }
                    
                    body {
                        color: $secondary;
                        scroll-behavior: smooth;
                        height: 100vh;
                        max-width: 100% !important;
                        margin: 0;
                        padding: 0;
                    }
                    
                    nav {
                        position: fixed;
                        width: 100%;
                        top: 0;
                        z-index: 100;
                        background-image: linear-gradient($primary, $primaryNav, $secondaryNav);
                        ul {
                            list-style: none;
                            display: flex;
                            flex-wrap: wrap;
                            li#first-nav-element {
                                flex: 1
                            }
                            li {
                                padding: 1em 0.5em;
                                a,
                                a:hover,
                                a:visited {
                                    color: white;
                                    text-decoration: none;
                                }
                                a:after {
                                    color: darkcyan;
                                }
                            }
                        }
                    }
                    
                    main {
                        margin: 3.5em 0;
                        #header {
                            display: flex;
                            flex-wrap: wrap;
                            width: 100%;
                            .text {
                                position: relative;
                                text-align: center;
                                text-justify: center;
                                transform: translateY(30%);
                                min-width: 50%;
                                background: linear-gradient( to right, $primary, $secondary);
                                -webkit-text-fill-color: transparent;
                                -webkit-background-clip: text;
                                ul {
                                    list-style: none;
                                    display: flex;
                                    justify-content: center;
                                    li {
                                        padding: 0em 0.5em;
                                        a {
                                            i {
                                                background: linear-gradient( to right, $primary, $secondary);
                                                -webkit-text-fill-color: transparent;
                                                -webkit-background-clip: text;
                                            }
                                            i:hover {
                                                transform: rotate(-45deg);
                                            }
                                        }
                                    }
                                    li:hover {}
                                }
                                h1,
                                {
                                    font-size: 270%;
                                    font-weight: 1400;
                                    line-height: 1.15em;
                                    letter-spacing: 1.5px;
                                    background: linear-gradient( to right, $primary, $secondary);
                                    -webkit-text-fill-color: transparent;
                                    -webkit-background-clip: text;
                                }
                                p {
                                    font-size: 130%;
                                    letter-spacing: 1.1px;
                                    font-weight: 500;
                                    background: linear-gradient( to right, $primary, $secondary);
                                    -webkit-text-fill-color: transparent;
                                    -webkit-background-clip: text;
                                    a,
                                    a:visited,
                                    a:hover {
                                        margin: 1.2em 0;
                                        text-decoration: none;
                                        background: linear-gradient( to right, #f32170, #cf23cf);
                                        -webkit-text-fill-color: transparent;
                                        -webkit-background-clip: text;
                                    }
                                }
                            }
                            .image {
                                display: flex;
                                justify-content: center;
                                align-content: center;
                                min-width: 50%;
                                background-color: $primary;
                                overflow: hidden;
                                img {
                                    height: auto;
                                    max-width: 100%;
                                    vertical-align: middle;
                                    display: inline-block;
                                    height: auto;
                                    -webkit-box-shadow: none;
                                    box-shadow: none;
                                }
                            }
                        }
                        .text-block {
                            display: flex;
                            .text {
                                width: 50%;
                                font-size: 110%;
                                display: flex;
                                justify-content: center;
                                align-content: center;
                                padding: 1em;
                                flex-direction: column;
                                ul {
                                    list-style: none;
                                    padding: 0 1.3em;
                                    li::before {
                                        content: "\2022";
                                        /* Add content: \2022 is the CSS Code/unicode for a bullet */
                                        color: $primaryNav;
                                        /* Change the color */
                                        font-weight: bold;
                                        /* If you want it to be bold */
                                        display: inline-block;
                                        /* Needed to add space between the bullet and the text */
                                        width: 1em;
                                        /* Also needed for space (tweak if needed) */
                                        margin-left: -1em;
                                        /* Also needed for space (tweak if needed) */
                                    }
                                }
                                span {
                                    padding: 1.5em 0;
                                }
                                i {
                                    padding: 0.25em;
                                    color: $primaryNav;
                                }
                                h3 {
                                    margin: 0.6em 0;
                                }
                            }
                            .image {
                                min-height: 400px;
                                border: solid $primary 18px;
                                background-color: $primary;
                                width: 50%;
                                h2 {
                                    color: white;
                                    transform: translateY(440%);
                                    display: flex;
                                    justify-content: center;
                                    align-content: center;
                                }
                            }
                        }
                        #projects {
                            .grid-container {
                                display: flex;
                                justify-content: center;
                                flex-wrap: wrap-reverse;
                                align-content: center;
                                .project {
                                    width: 25rem;
                                    padding: 2em;
                                    a {
                                        color: $secondary;
                                        font-weight: 700;
                                        text-decoration: none;
                                    }
                                    img {
                                        max-width: 100%;
                                        height: auto;
                                        overflow: hidden;
                                    }
                                }
                                .project:hover {
                                    height: 100%;
                                    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
                                }
                            }
                        }
                    }
                    
                    @media screen and (max-width: 740px) {
                        main {
                            margin-top: 13em;
                            #header {
                                .text {
                                    width: 100% !important;
                                    transform: translateY(-40%);
                                }
                                .image {
                                    width: 100% !important
                                }
                            }
                            .text-block {
                                flex-direction: column;
                                .text,
                                .image {
                                    width: 100%;
                                    min-height: 150px;
                                }
                                .image {
                                    margin-top: 1em;
                                    h2 {
                                        text-align: center;
                                        text-justify: center;
                                        transform: translateY(45px);
                                    }
                                }
                            }
                            hr {
                                border-style: solid;
                                border-color: #374748;
                                width: 3px;
                                width: 53.6%;
                            }
                        }
                    }
                    
                    footer {
                        display: flex;
                        justify-content: center;
                        align-content: center;
                        width: 100%;
                        background-color: $primary;
                        color: white;
                        padding: 1em 0
                    }